@model IEnumerable<Portfolioo.Models.ContactMessage>
@{
    ViewBag.Title = "Admin - Contact Messages";
}
<h2>Contact Messages</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">No messages received yet.</div>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Date Sent</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var msg in Model)
            {
                <tr>
                    <td>@msg.Name</td>
                    <td>@msg.Email</td>
                    <td>@msg.Message</td>
                    <td>@msg.DateSent.ToString("g")</td>
                </tr>
            }
        </tbody>
    </table>
}
